{% extends 'base.twig' %}

{% block content %}

    <div id="page-wrapper">
        <!-- Wrapper -->
        <section id="wrapper">

            <div class="wrapper">
                <div class="inner">
                    <h2 class="major">A propos</h2>

                    <section>
                        <h3 class="major">... de moi</h3>

                        <blockquote>
                            <div class="card-body">
                                <h5 class="card-title">Nom : Guillaume RICHARD</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Métier : Développeur Web Back-end</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="https://guillaume-richard.fr/" class="card-link">Portfolio</a>
                                <a href="https://twitter.com/gjfrichard" class="card-link">Twitter</a>
                            </div>
                        </blockquote>
                    </section>

                    <section>
                        <h3 class="major">... l'hackaviz 2020</h3>
                        <p>L'HACKAVIZ 2020 est la troisième édition d'un concours de visualisation de données en temps limité. Ce concours est ouvert à un très large public. </p>

                        <blockquote>
                            Tout au long de l’année chaque nuit, des milliers de touristes dorment dans notre belle région. <br />
                            Nous avons réussi à assembler un jeu de données unique qui les localise et les compte par nuitée. <br />
                            Nous connaissons les capacités d’hébergement (hôtel, camping,..) de chaque département. <br />
                            Nous savons aussi d’où ils viennent que ce soit d’un département Français ou de l’étranger. <br />
                            Nous savons enfin le temps qu’il faisait et les principaux événements culturels du jour.
                        </blockquote>
                    </section>
                </div>
            </div>
        </section>
    </div>

{% endblock %}