{% extends 'base.twig' %}

{% block content %}

<ul class="places">
    {% for capacity in capacities %}
    <li>
    	{{ capacity.dpt }} - {{ capacity.nom_dpt }}
    </li>
	{% else %}
	<li>
        {{ capacity.dpt }} - {{ capacity.nom_dpt }}
    </li>    
    {% endfor %}
</ul>

{% endblock %}