{% extends 'base.twig' %}

{% block content %}
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Wrapper -->
        <section id="wrapper">
            <header>
                <div class="inner">
                    <h2>Le tourisme dans la région Occitanie en 2018</h2>
                    <p>D'ou viennent les touristes ? Ou vont-ils ?<!-- A quel moment de l'année ?--></p>
                </div>
            </header>

            <!-- Content -->
            <div class="wrapper">
                <div class="inner">
                    <section>
                        <h3 class="major">D'ou viennent les touristes ?</h3>
                        <div class="table-wrapper">
                            <div id="origine"></div>

                            <blockquote>
                                <div class="card-body">
                                    Je n'ai affiché ici que les 20 Département (ou pays d’origine) des touristes.<br>
                                    On remarque que les touristes viennent majoritairement des pays étrangers
                                </div>
                            </blockquote>
                        </div>
                    </section>

                    <section>
                        <h3 class="major">Ou vont-ils ?</h3>
                        <div id="destination"></div>

                        <blockquote>
                            <div class="card-body">
                                Les départements les plus visités sont ceux de l'Hérault (34), les Pyrénées-Orientales (66), la Haute-Garonne (31), puis le Gard (30)<br/>
                                Ils cumulent à eux tous 131,5 Millions de nuitées pour l'années 2018.
                            </div>
                        </blockquote>
                    </section>

                    <!--
                    <section>
                        <h3 class="major">A quel moment de l'année ?</h3>
                    </section>
                    -->
                </div>
            </div>

        </section>
    </div>
{% endblock %}

{% block js %}
    <script>
        Highcharts.chart('origine', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Quels sont les origines des touristes ?'
            },
            subtitle: {
                text: 'Source: <a href="http://toulouse-dataviz.fr/hackaviz-2020">Hackaviz 2020</a>'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Touristes'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Touristes en 2018'
            },
            series: [{
                name: 'Population',
                data: [
                    ['Autres',22228695],['DE',12121476],['GB',10523796],['ES+PT',10294805],['BE+LU',8339353],
                    ['NL',7581394],['DK+SE+NO',4785253],['75',4575679],['31',4532704],['33',4276379],
                    ['69',4141822],['13',4100682],['59',3486515],['IT',3352897],['92',3059305],
                    ['38',2946022],['93',2810910],['94',2680112],['78',2597637],['77',2565048],
                    //['91',2551076],['34',2507494],['44',2448833],['CH',2367618],['95',2106720],['63',1929595],['76',1795063],['42',1749606],['83',1707641],['62',1694985],['06',1553068],['35',1532756],['64',1475114],['US',1395887],['66',1330005],['49',1328316],['30',1305725],['74',1302280],['85',1296360],['45',1216651],['57',1210033],['17',1189051],['01',1185274],['84',1179876],['29',1177381],['60',1149107],['67',1129738],['56',1123680],['54',1116371],['47',1066307],['26',1058941],['40',983320],['14',928681],['24',922875],['27',918051],['71',917453],['21',906274],['37',902443],['82',898176],['72',884640],['81',862538],['87',841867],['25',824428],['73',823750],['51',818707],['22',810488],['12',792289],['46',766763],['68',758442],['86',755520],['19',693132],['03',685615],['07',674119],['28',672275],['80',663232],['16',646658],['79',636069],['02',608416],['50',592074],['11',581438],['43',576254],['18',566252],['41',545824],['89',532141],['65',527007],['32',518742],['88',449939],['53',441094],['15',425641],['09',419255],['61',415923],['10',414753],['39',390251],['36',358887],['58',350308],['48',337980],['2A',330591],['70',327970],['08',327019],['04',312591],['05',262162],['55',249150],['52',237994],['23',217227],['90',187041],['98',43226],['97',37743],['99',171]
                    ],

                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '',// format: '{point.y}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });

        Highcharts.chart('destination', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Nombres de nuitées cumulés des touristes, par départements, pour l\'années 2018',
            },
            subtitle: {
                text: 'Source: <a href="http://toulouse-dataviz.fr/hackaviz-2020">Hackaviz 2020</a>'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Population'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Touristes en 2018'
            },
            series: [{
                name: 'Population',
                data: [
                    ['9',4675476],['11',16150703],['12',7944721],['30',21380521],['31',28612739],['32',5696542],['34',49765810],['46',7879581],['48',3519266],['65',10962970],['66',31798447],['81',6337459],['82',6029670]
                ],

                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    </script>
{% endblock %}