<!-- Footer -->
<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Envoyer un message" /></li>
            </ul>
        </form>
        <ul class="contact">
            <li class="icon solid fa-home">
                Guillaume RICHARD<br />
                15 rue Adrien Thibault<br />
                41260 La Chaussée Saint Victor
            </li>
            <li class="icon solid fa-phone">(+33) 06.85.71.00.64</li>
            <li class="icon solid fa-envelope"><a href="https://guillaume-richard.fr/">Guillaume RICHARD</a></li>
            <li class="icon brands fa-twitter"><a href="https://twitter.com/gjfrichard">twitter.com/</a></li>
            <li class="icon brands fa-instagram"><a href="https://www.instagram.com/g.jf.richard/">instagram.com/g.jf.richard</a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>