<!-- Footer -->
<section id="footer">
    <div class="inner">
        <ul class="copyright">
            <li>&copy; Hackaviz 2020.</li>
            <li><a target="_blank" href="https://guillaume-richard.fr/">&copy; Guillaume RICHARD</a>. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>